@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 18, 18, 18;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 25, 25, 25;
    --background-end-rgb: 25, 25, 25;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body::-webkit-scrollbar {
  width: 15px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #595959ff; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #1a1a1aff; /* color of the scroll thumb */
  background: -webkit-linear-gradient(
    to bottom,
    #1a1a1aff,
    #180a24
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    rgb(56, 1, 100),
    #5831e8ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #595959ff; /* creates padding around scroll thumb */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
