@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #27215f;
  --color-secondary: #703f98;
  --color-tertiary: #a75ea6;
  --color-quaternary: #d68f8f;
}
body {
  color: rgb(255, 255, 255);
  background: rgb(25, 25, 25);
}

body::-webkit-scrollbar {
  width: 15px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(37, 34, 34); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #1a1a1aff; /* color of the scroll thumb */
  background: -webkit-linear-gradient(
    to bottom,
    #1a1a1aff,
    #180a24
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: rgb(66, 19, 141);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(22, 20, 20); /* creates padding around scroll thumb */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
